html {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #333333;
    background-color: #f7f7f7;
    height: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden], template {
    display: none;
}

svg:not(:root) {
    overflow: hidden;
}

a {
    background: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: #0088cc;
}

a:active {
    outline: 0;
}

a:active {
    /*color: #006699;*/
}

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
    vertical-align: middle;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled], html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    resize: vertical;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

html, button, input, select, textarea {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
    margin: 0;
}

ul, ol, li, dl, dd {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none outside none;
}

h1, h2, h3 {
    line-height: 2;
    font-weight: normal;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #cccccc;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #cccccc;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #cccccc;
}

* {
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearFix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    font-size: 0;
}

.clearFix {
    *zoom: 1;
}

.red {
    color: #ef4f4f;
}

.mb5 {
    margin-bottom: 5px;
}

.mb15 {
    margin-bottom: 15px;
}

/*自定义mint-ui*/
.mint-cell-wrapper, .mint-button, .mint-tab-item-label, .picker-slot {
    font-size: 1.4rem;
}

.mint-tabbar {
    box-shadow: 1px 1px 3px 2px #cccccc;
}
.mint-header.is-fixed {
    z-index: 2;
}





/*===============================================列表样式开始==================================================================*/
.list-box{position: absolute;top:130px; right: 0; bottom: 0; left: 0;}
.list-box-wrap{position: relative; width: 100%;height: 100%; top:0; right: 0; bottom: 0;left: 0; }
.list-box-scroll{position: absolute; overflow-x: scroll; top: 0;right: 0; left: 0;}


.item { border-color: #ddd;  color: #444; position: relative; z-index: 2; display: block; margin: -1px; padding: 10px; border-width: 1px; border-style: solid; font-size: 1rem; }
.item h1 { margin: 0 0 2px 0; font-size: 1.6rem; font-weight: normal; }
.item h2 { margin: 0 0 2px 0; font-size: 1.4rem; font-weight: normal; }
.item h3 { margin: 0 0 4px 0; font-size: 1rem; }
.item h4 { margin: 0 0 4px 0; font-size: 1rem; }
.item h5, .item h6 { margin: 0 0 3px 0; font-size: 1rem; }
.item p { color: #111; font-size: 1rem; margin-bottom: 2px; }

.item h1:last-child, .item h2:last-child, .item h3:last-child, .item h4:last-child, .item h5:last-child, .item h6:last-child, .item p:last-child { margin-bottom: 0; }
.item .badge { display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -moz-flex; display: -ms-flexbox; display: flex; position: absolute; top: 16px; right: 32px; }
.item.item-button-right .badge { right: 67px; }
.item-divider { padding-top: 8px; padding-bottom: 8px; min-height: 30px; color: #222; font-weight: 500; font-size:1.4rem; }
.item.item-divider .badge { top: 8px; }
.item .badge + .badge { margin-right: 5px; }
.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
a.item { color: inherit; text-decoration: none; }
a.item:hover, a.item:focus { text-decoration: none; }
.item-note { float: right; color: #666; font-size: 1rem; }
.item-divider .item-note { font-size: 1.4rem; }

.list { position: relative; padding-top: 1px; padding-bottom: 1px; padding-left: 0; margin-bottom: 20px; }
.list:last-child { margin-bottom: 0px; }
.list:last-child.card { margin-bottom: 40px; }
.list-header { margin-top: 20px; padding: 5px 15px; background-color: transparent; color: #222; font-weight: bold; }
.card.list .list-item { padding-right: 1px; padding-left: 1px; }
.card, .list-inset { overflow: hidden; margin: 20px 10px; border-radius: 2px; background-color: #fff; }
.card { padding-top: 1px; padding-bottom: 1px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
.card .item { border-left: 0; border-right: 0; }
.card .item:first-child { border-top: 0; }
.card .item:last-child { border-bottom: 0; }
.padding .card, .padding .list-inset { margin-left: 0; margin-right: 0; }
.card .item:first-child, .list-inset .item:first-child, .padding > .list .item:first-child { border-top-left-radius: 2px; border-top-right-radius: 2px; }
.card .item:first-child .item-content, .list-inset .item:first-child .item-content, .padding > .list .item:first-child .item-content { border-top-left-radius: 2px; border-top-right-radius: 2px; }
.card .item:last-child, .list-inset .item:last-child, .padding > .list .item:last-child { border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; }
.card .item:last-child .item-content, .list-inset .item:last-child .item-content, .padding > .list .item:last-child .item-content { border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; }
.card .item:last-child, .list-inset .item:last-child { margin-bottom: -1px; }
.card .item, .list-inset .item, .padding > .list .item, .padding-horizontal > .list .item { margin-right: 0; margin-left: 0; }
.card .item.item-input input, .list-inset .item.item-input input, .padding > .list .item.item-input input, .padding-horizontal > .list .item.item-input input { padding-right: 44px; }
.padding-left > .list .item { margin-left: 0; }
.padding-right > .list .item { margin-right: 0; }

.card .item-rgbabg{background:rgba(0,0,0,0.3); color:#fff;}
.card .item-rgbabg .item-note{color:#fff;}
.card .item-rgbabg p{color:#fff;}
.card.disable {background-color:#efefef;}
.card.disable .item-rgbabg{background:rgba(205,205,205,0.8);}

.fixed-top{position: fixed;top:0; right: 0;left: 0;background-color: #fff;z-index: 10;border-bottom: 1px solid #ddd;}
.no-data{padding: 10px; background-color: #fff; text-align: center; color: #aaa;}

/*===============================================列表样式结束==================================================================*/